<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Estudiantes</title>
</head>
<body>
    <h1>Crear Nuevo Estudiante</h1>
    <form th:action="@{/crearEstudiante}" th:object="${estudiante}" method="post">
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" th:field="*{nombre}" required/>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required/>
        </div>
        <div>
            <label for="edad">Edad:</label>
            <input type="number" id="edad" th:field="*{edad}" required/>
        </div>
        <div>
            <button type="submit">Crear Estudiante</button>
        </div>
    </form>
    <p>
        <a th:href="@{/verEstudiante}">Ver Estudiantes</a> 
    </p>
</body>
</html>
