<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>    <h1>👍</h1>

    <ul>
        <li><a th:href="@{/estudiantes}">Estudiantes</a></li>
        <li><a th:href="@{/cursos}">Cursos</a></li>
        <li><a th:href="@{/salones}">Salones</a></li>
        <li><a th:href="@{/notas}">Notas</a></li>
        <li><a th:href="@{/profesores}">Profesores</a></li>
        <li><a th:href="@{/horarios}">Horarios</a></li>
    </ul>
</body>
</html>
