<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Notas</title>
</head>
<body>
    <h1>Notas</h1>
    <a href="/notas/nueva">Agregar Nota</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Valor</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="nota : ${notas}">
                <td th:text="${nota.id}"></td>
                <td th:text="${nota.valorNota}"></td>
                <td th:text="${nota.fecha}"></td>
                <td>
                    <a th:href="@{/notas/{id}(id=${nota.id})}">Ver</a>
                    <a th:href="@{/notas/editar/{id}(id=${nota.id})}">Editar</a>
                    <a th:href="@{/notas/eliminar/{id}(id=${nota.id})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
